#wrapper {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	
}
body {
	<!-- Set table background -->
      	<table background = "bilder/Unbenannt.png" width = "100%" height = "100">
	</table>
}

header {
	padding: 10px;
}


section {
	width: 960px;
	height: 550px;
	float: middle;
	background: grey;
}

