#wrapper {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	background-colour : rgb(19, 18, 32); 
  	
}

body {
  
}

header {
	padding: 10px;
	background-colour : rgb(19, 18, 32); 
  	


section {
	width: 960px;
	height: 550px;
	float: middle;
	background-colour : rgb(19, 18, 32); 
  	
}
aside {
	background-colour : rgb(19, 18, 32); 
  
footer {
	background-colour : rgb(19, 18, 32); 
  
}
