#wrapper {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
}

body {
  
}

header {
	padding: 10px;
	background-colour : RGB(19, 18, 32); 
  	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-size: cover;
}


section {
	width: 960px;
	height: 550px;
	float: middle;
	background-colour : RGB(19, 18, 32); 
  	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-size: cover;
}
aside {
	background-colour : RGB(19, 18, 32); 
  	background-repeat: no-repeat;
  	background-attachment: fixed;
}
footer {
	background-colour : RGB(19, 18, 32); 
  	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-size: cover;
}
